/* Layout */

body {
    font:normal 12px/1.6em Sawasdee, Helvetica, sans-serif;
	color:#2a3845;
	margin:0;
	padding:0;
	background:#FFFFFF;
}

p {
	margin:0;
	padding:0;
}

#wrapper {
	margin:0 auto;
	width:632px;
	border-left:1px solid #f0e9eb;
	border-right:1px solid #f0e9eb;
	background:beige;
}

#header {
	margin:0 1px;
}

#bg {
	height:36px;
}

#main-content {
	margin:0 auto;
}

#main-image {
	text-align:center;
}

#left-column {
	width:300px;
	padding:0 30px 30px;
	float:left;
}

#right-column {
	width:270px;
	float:right;
}

.sidebar {
	width:218px;
	margin:0 auto;
	padding:10px 25px;
}

#footer {
	background:#f7f7f7;
	width:632px
	border-top:1px solid #f0e9eb;
	
	clear:both;
}

/* Global Styling */

a:visited, a:link {
	color:#a43b55;
	text-decoration:underline;
	background:none;
}


h1 {
	color:#7a2e40;
	margin:0 0 10px;
	padding-bottom:10px;
	font:bold 20px Sawasdee, Helvetica, sans-serif;
	border-bottom:1px solid #efece7;
}

h2 {
	color:#7a2e40;
	margin:20px 0 10px;
	padding-bottom:10px;
	font:bold 13px Sawasdee, Helvetica, sans-serif;
	border-bottom:1px solid #efece7;
}

h3 {
	color:#7a2e40;
	margin:10px 0;
	padding-bottom:10px;
	font:bold 12px Sawasdee, Helvetica, sans-serif;
	border-bottom:1px solid #efece7;
}

h4 {
	color:#7a2e40;
	margin:20px 0 10px;
	padding-bottom:10px;
	font:normal 12px Sawasdee, Helvetica, sans-serif;
	border-bottom:1px solid #efece7;
}

.box {
	background:beige;
	padding:15px;
}

#nav {
	background:#3CB371;
	padding:10px 20px;
	text-align:right;
	color:#f6dde3;
}

#nav a {
	margin: 0 10px;
	text-decoration:none;
	color:#f6dde3;
}

#name {
	margin-bottom:20px;
	font:normal 18px Comic Sans, serif;
	color:#fa7393;
}
